h2{
	text-align: center;
}

table{
	padding: 10px;
}
#customerOrder{
	padding: 10px;
}
.radio-inline{
	padding: 5px;
}
#productTable{
	padding: 10px;
}
#nameErrorMsg{
	float:right;
}
#appleErrorMsg{
	float:right;
}
#bananaErrorMsg{
	float:right;
}
#orangeErrorMsg{
	float:right;
}
.error{
	color: red;
}
h3{
	text-align: center;
}
#tableBorder{
	border: 1px solid #EFF0F1;
}
.container{
	width: 60%;
}
#titleBox{
	background-color: #EFF0F1;
	padding: 5px;
}
#infoBox{
	padding-top: 1px;
}
.row{
	align:center;
}
