body {
 background: #DEF2F3;
 background-image: url("../images/paper.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 12.5%;
 height: 900px;
}

#orderContents {
  width: 60%;
  padding-top: 15%;
}

#fruitPrice,#customerOrder{
 margin-left:20px;
}

#receiptInfo{
 margin-left:20px;
}

tr,td,th {
 padding: 5px 0px 5px 0px;
 text-align:left;
}

#name {
  padding: 5px;
}

#apple {
  width: 50px;
  text-align:center;
  padding: 5px;
}

#orange {
  width: 50px;
  text-align:center;
  padding: 5px;
}

#banana {
  width: 50px;
  text-align:center;
  padding: 5px;
}

#totalPrice {
  width: 50px;
  text-align:center;
  padding:5px;
  margin-left:10px;
}

#submit{
 float:right;
 padding: 5px;
 margin: 15px;
}

#priceContainer {
 text-align:right;
 padding: 5px;
 margin: 5px;
}

.error{
  color:red;

}

h3 {
 background-color:#DEF2F3;
 color:black;
 padding:5px;
 border-radius: 5px;

}