body {
   background-color: #DEF2F3;
   width: 550px;
   margin:auto;
   right:0;
   left:0;
}

#fruitPrice,#customerOrder{
   margin-left:20px;
}

#receiptStyle {
  background-image: url("../images/receipt.png");
  background-repeat: no-repeat;
  width: 560px;
  height: 600px;
}

#tableBottomSection {
  height: 150px
}

#tableHeader{
  height: 200px;
}

#tableFooter{
  height: 150px;
}


#rows {
  margin-bottom: 20px;
}

tr{
   text-align:left;
}

td {
  padding-left: 60px;
}

#name {
    padding: 5px;
}

#apple {
    width: 50px;
    text-align:center;
    padding: 5px;
}

#orange {
    width: 50px;
    text-align:center;
    padding: 5px;
}

#banana {
    width: 50px;
    text-align:center;
    padding: 5px;
}

#totalPrice {
    width: 50px;
    text-align:center;
    padding:5px;
    margin-left:10px;
}

#submit{
   float:right;
   padding: 5px;
   margin: 15px;
}

#priceContainer {
   text-align:right;
   padding: 5px;
   margin: 5px;
}

.error{
color:red;

}

footer {
  width: 550px;
  clear:both;
  padding-top: 19px;
  color: black;
  border-top: 1px solid black;
  margin:auto;
  right:0;
  left:0;
}
